.container {
  background-color: #151a24da;
  position: fixed;
  right: 20px;
  border-radius: 24px;
  top: calc(80px);
  width: 400px;
  height: calc(100vh - 100px);
  z-index: 200;
  transition: all 300ms;
  box-sizing: border-box;
  padding: 58px 24px;
}

.container .cancel {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: transparent;
  color: white;
  font-weight: 900;
  border-width: 0;
  font-size: 16px;
  cursor: pointer;
}

.container .cancel:hover {
  color: #03ffa5;
}

.container hr {
  margin: 20px 0 0;
}

/* card */
.details_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 24px 0 0;
}

.card {
  color: #fff;
  /* background-color: rgb(1, 9, 24); */
  background-color: #151a24;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

/* No data found */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.no_data_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.no_data_container p {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.more_details {
  border-width: 0;
  background-color: #03ffa5;
  border: 1px solid #03ffa5;
  padding: 0.69em 1.11em;
  border-radius: 4.17em;
  font-size: 0.97em;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.more_details:hover {
  background-color: transparent;
  color: #03ffa5;
}

.no_data_container img {
  width: 180px;
  height: 180px;
  margin: 0 0 0px;
}

@media only screen and (max-width: 500px) {
  .container {
    right: 5%;
    width: 90%;
  }
}
