.container {
  background-color: #151a24;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5%;
}

.container img {
  width: 145px;
  height: 32px;
  cursor: pointer;
}

.container button {
  border-width: 0;
  background-color: #03ffa5;
  border: 1px solid #03ffa5;
  padding: 0.69em 1.11em;
  border-radius: 4.17em;
  font-size: 0.97em;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.container button:hover {
  background-color: transparent;
  color: #03ffa5;
}
